<!-- contact.ejs Christopher Esguerra 301483615 September 24th, 2025 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= header %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
      <link rel="stylesheet" href="/stylesheets/contact.css">

</head>

<body>

 
  <nav class="baseNav"><img src="/images/Logos.svg" alt="Here" class="logo">
    <a class="nav-content" href="/">Home </a>
    <a class="nav-content" href="/about">About </a> 
    <a class="nav-content" href="/contact">Contact </a> 
    <a class="nav-content" href="/project">Project </a> 
    <a class="nav-content" href="/service">Service </a>
  </nav>



<section class="contact-section">
        <h1>
            <%= header %>
        </h1>
        <p class="ContactDesc">
            <%= description %>
        </p>
        <form id="contact-form" class ="contact-form">
            <label for="name">
                <%= label[0] %>:
            </label>
            <input class="form-input" type="text" id="name" name="name" required />
            <br />
            <label for="email">
                <%= label[1] %>:
            </label>
            <input class="form-input" type="email" id="email" name="email" required />
            <br />
            <label for="message">
                <%= label[2] %>:
            </label>
            <textarea class="form-input" id="message" name="message" required></textarea>
            <br />
            <button class='form-btn'type="submit">
                <%= button %>
            </button>
        </form>

</section>

    <!-- EmailJS CDN -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script src="/javascripts/email.js"></script>
</body>

</html>