<!-- project.ejs Christopher Esguerra 301483615 September 24th, 2025 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= header %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/project.css">
</head>

<body>

 
  <nav class="baseNav"><img src="/images/Logos.svg" alt="Here" class="logo">
    <a class="nav-content" href="/">Home </a>
    <a class="nav-content" href="/about">About </a> 
    <a class="nav-content" href="/contact">Contact </a> 
    <a class="nav-content" href="/project">Project </a> 
    <a class="nav-content" href="/service">Service </a>
  </nav>

    <section class="project-section">
        <h3>
            <%= header %>
        </h3>
        <h2>
            <%= projectTitles[0] %>
        </h2>
        <img src="/images/Introduction-Site.png" alt="Introduction Site" />
        <a target='_blank' href="<%= projectLinks[0] %>">Click Here to Visit the Site</a>
        <p class='project-description'>
            <%= projectDesc[0] %>
        </p>
        <h2>
            <%= projectTitles[1] %>
        </h2>
        <a target='_blank' href="<%= projectLinks[1] %>">Click Here to Visit the Site</a>
        <h1>* Work In Progress *</h1>
        <p class='project-description'>
            <%= projectDesc[1] %>
        </p>
        <h2>Other Projects</h2>
        <img src="/images/Wallmall_UML_Diagram.png" alt="UML Diagram" />
        <a target='_blank' href="<%= projectLinks[2] %>">View UML Diagram</a>
        <p class='project-description'>
            <%= projectDesc[2] %>
        </p>
    </section>
    <footer>
        <p>&copy; <%= footer %>
        </p>
    </footer>
</body>
<link rel="app.js" href="../app.js">

</html>