<!-- service.ejs Christopher Esguerra 301483615 September 24th, 2025 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= header %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/service.css">
</head>

<body>


  <nav class="baseNav"><img src="/images/Logos.svg" alt="Here" class="logo">
    <a class="nav-content" href="/">Home </a>
    <a class="nav-content" href="/about">About </a> 
    <a class="nav-content" href="/contact">Contact </a> 
    <a class="nav-content" href="/project">Project </a> 
    <a class="nav-content" href="/service">Service </a>
  </nav>
  
  <section class="service-section">

    <h1>
      <%= header %>
    </h1>
    <p>
      <%= description %>
    </p>
    <div class="service-container">


      <ul class="skills-list">


        <div class="service-container">
          <li class="service-skill">
            <%= skillsList[0] %>
          </li>
          <li class="service-skill">
            <%= skillsList[1] %>
          </li>
          <li class="service-skill">
            <%= skillsList[2] %>
          </li>
        </div>

        <img src="/images/pexels-joshsorenson-1714208.jpg" alt="Services" class="service-image" />
        
        <div class="service-container">
          <li class="service-skill">
            <%= skillsList[3] %>
          </li>
          <li class="service-skill">
            <%= skillsList[4] %>
          </li>
          <li class="service-skill">
            <%= skillsList[5] %>
          </li>
        </div>
        
        <img src="/images/pexels-luis-gomes-166706-546819.jpg" alt="Services" class="service-image" />
        
        <div class="service-container">
          <li class="service-skill">
            <%= skillsList[6] %>
          </li>
          <li class="service-skill">
            <%= skillsList[7] %>
          </li>
          <li class="service-skill">
            <%= skillsList[8] %>
          </li>
        </div>
        
        <img src="/images/pexels-pixabay-301792.jpg" alt="Services" class="service-image" />
        
        <div class="service-container">
          <li class="service-skill">
            <%= skillsList[9] %>
          </li>
          <li class="service-skill">
            <%= skillsList[10] %>
          </li>
          <li class="service-skill">
            <%= skillsList[11] %>
          </li>
        </div>
      
      </ul>

    </div>
  </section>

  <footer>
    <p>&copy; <%= footer %>
    </p>
  </footer>
</body>
<link rel="app.js" href="../app.js">

</html>